#contact{
    height: 50vh;
    h2{
        margin-left: 1em;
    }

}
.contact__main-content{
    padding: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
    padding: 1em;
    padding-top: 0;
}
.contact__text_primary{
    line-height: 30px;
    text-align: center;
}
.contact__span-email{
    font-size: 1.25em;
    color: #eee;
    padding: .25em;
    &:hover{
        border: 1px solid #fff;
    }
}

.contact__form{
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 2em 0;


    .contactInputField{
        margin: 1em 0;
        padding: 1.5em 0;
        border: none;
        background-color: transparent;
        border-bottom: 3px solid #fff;
border-radius: 5px;
outline: none;
@media (max-width: 1000px){
    display: block;
    margin: 0 auto;
    width: 100%;
}
    }
    .contactSubmitButton{
        width: 200px;
        margin:  2em auto;
        background-color: $darkred;
        padding: 1em;
        border-radius: 5px;
    }
    .contact__form-names{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        @media (max-width: 1000px){
            display: block;
        }
    }
    label{
        display: none;
    }

    ::placeholder, input{
        color: #fff;
        text-align: center;
    }
    textarea{
        resize: none;
        height: 100px;
        color: #fff;
    }

}