
.header__nav{
    position: fixed;
    width: 100%;
    background-color: $brightred;
z-index: 100;
};
.header__primary_logo{
    display: block;
    height: 125px;
    width: 125px;
    background-image: url('/img/greym.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1em;
};
.header__nav, .header__nav_list{
    display: flex;
    flex-direction: row;
    font-family: $roboto;
    justify-content: space-between;
    align-items: center;
};
.header__nav_list{
    font-size: 1.25em;
    margin-right: 1em;
    .header__nav_listitem{
        padding: 0 .25em .5em 0;
        margin: 0 10px;
        color: #fff;
        &:hover{
            border-bottom: 1px solid #fff;
        }
        a{
            color: #fff;
        }
    }
}
