.mainhero{
    height: 100vh;
    // border: 10px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: $mainheroBreakpoint){
        height: 70vh;
        .main_primary_text{
            font-size: 3em;
        }
        .main_secondary_text{
            font-size: 1.5em;
        }
    }
    @media (max-width: $mainheroBreakpointSmall) {

        .main_primary_text{
            font-size: 1.5em;
        }
        .main_secondary_text{
            font-size: 1em;
        }
    }
}
.main_primary_text, .main_secondary_text{
    display: block;
}

.main_primary_text{
    font-size: 5em;
    font-weight: 900;
    top: 43%; right: 50%;

}

.main_secondary_text{
    font-size: 2.5em;
    top: 53%; right: 50%;
    padding: 2em;
}

.main_open-brace{
    margin-right: 15px;
}
.main_close-brace{
    margin-left: 15px;
}
.mainhero__icon-container{
    display: flex;
    flex-wrap: wrap;
}
.mainhero__icons{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url('/img/icons/redinstagram.svg');
    padding: .5em;
    margin: .5em 1.5em;
}
