#projects{
    h2{
        text-align: right;
    margin-right: 1em;
    };
};
.projects__card{
    position: relative;
height: 450px;
margin: 3em;
overflow: hidden;
border-radius: 5px;
background-size: cover;
background-repeat: no-repeat;

background-attachment: fixed;
// background-position-y: 10em;


};
.project_card_information{
    z-index: -5;
    position: absolute;
background-color: $darkred;
right: 0;
top: 0;
opacity: .8;
width: 50%;
height: 100%;
z-index: 5;
// transform: skew(30deg);
.project__name{
    font-size: 3em;
    text-align: center;
font-weight: normal;
}

};
.projects__header__secondary{
    font-size: 2em;
    margin-left: 1em;
    text-align: center;
    margin-bottom: 1em;
}
.tech__icon-wrapper{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-content: center;
};
.tech__icons{
    // border: 3px solid yellow;
    margin: .75em  4em;
    text-align: center;
    font-size: 1.15em;
    font-style: italic;
}
.tech__icons-background{
    height: 150px;
    width: 150px;
    background-size: cover;
    margin-bottom: .25em;
}