$lightblue: rgb(78, 169, 218);
$lightred: #F42F42;
// font-family: 'Fredoka One', cursive;
// font-family: 'Luckiest Guy', cursive;
// font-family: 'Paytone One', sans-serif;

$fredoka: 'Fredoka One', cursive;

