$lightblue: rgb(78, 169, 218);
$lightred: #F42F42;

$brightred: #EE5050;
$darkred: #CF3A39;
// font-family: 'Fredoka One', cursive;
// font-family: 'Luckiest Guy', cursive;
// font-family: 'Paytone One', sans-serif;

// $fredoka: 'Fredoka One', cursive;
$roboto: 'Roboto Mono', monospace;

//MEDIA BREAKPOINTS
$projectsBreakpoint: 700px;

